#map {
    position: relative;

    border: 3px solid #73AD21;
}

#sliderContainer {
  position: relative;

}

svg {
    border-radius: 6px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px #ddd;
    position: relative;
}

.axis_legend path, .axis_legend tick, .axis_legend line {
    fill: none;
    stroke: none;
}

.legendTitle {
    text-anchor: middle;
    font-size: 1.25rem;
    fill: #000;
    font-weight: 300;
}
.axis_legend text {
    font-size: 0.75rem;
    font-weight: 300;
}
.country:hover {
    opacity: .8;
    stroke-width: 2px;
    cursor: pointer;
}
.hidden {
      display: none;
  }
  div.tooltip {

    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    text-align: justify;

  }

  .legendWrapper{
position: relative;
  }

  .tooltipper {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 130px;
	z-index: 10;
	display: block;
	opacity: 0;
}
.legend {
	font-size: 12px;
}
rect {
	cursor: pointer;
	stroke-width: 2;
}
rect.disabled {                                                 
	fill: transparent !important;                                
}
